github "jasoncalabrese/LoopKit" "custome-overrides"
github "t1dloop/CGMBLEKit" "omni-overrides-holly"
github "i-schuetz/SwiftCharts" == 0.6.5
github "t1dloop/dexcom-share-client-swift" "omni-overrides-holly"
github "t1dloop/G4ShareSpy" "omni-overrides-holly"
github "jasoncalabrese/rileylink_ios" "custom-overrides"
github "LoopKit/Amplitude-iOS" "decreepify"
